* {
  font-family: Mija, Roboto, Droid Serif, Arial, Helvetica, sans-serif;
}

body {
  background: hsl(188, 70%, 45%);
  background: linear-gradient(0deg, hsl(188, 70%, 45%) 0%, hsl(56, 100%, 83%) 100%);
  margin: 30px;
}

main {
  height: calc(100vh - 60px);
}

h2 {
  font-family: 'Cabin', sans-serif;
  color: hsl(188, 70%, 15%);
}

button {
  cursor: pointer;
  background: hsl(188, 70%, 45%);
  color: white;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

input, 
#add-button,
#reset-button {
  padding: 4px 8px;
  font-size: 1rem;
  border: 1px solid #bbb;
}

input {
  width: 200px;
}

#container > ul {
  padding: 0 10px 0 0;
  margin: 10px 0;
  list-style: none;
  max-height: 400px;
  width: fit-content;
  overflow-y: auto;
}

#container li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  width: fit-content;
  box-shadow: 0 6px 6px -4px hsla(220, 20%, 70%, 0.75);
  margin-bottom: 8px;
  border-radius: 4px;
}

#container li > button {
  padding: 0;
  margin: 0;
  line-height: 1;
  max-height: 20px;
  font-size: 1.125rem;
  background: none;
  border: none;
  opacity: 0.75;
  transition: all 0.2s ease;
}

#container li > *:not(:last-child) {
  margin-right: 10px;
}

#container li > button:hover {
  opacity: 1;
}